---
---

@import "{{ site.theme }}";
body {
  background-color: #61B98B;
  color: #FEECDE;
}
h1 {
  color: #70798C;
}

/* unvisited link */
a:link {
  color: #97CC04;
}

/* visited link */
a:visited {
  color: #70798C;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}