---
---

@import "{{ site.theme }}";
body {
  background-color: #D4FAF5;
  color: tomato;
}
h1 {
  color: #70798C;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}